
body {
		background-color: #0c739f;
		background-image: url('../img/fon.png');
		font-family: 'Open Sans', Arial, sans-serif;
}

.wrapper {
		width: 1000px;
		margin: 0 auto;
		background: #fff;
}

.clearfix::after {
		content: '';
		clear: both;
		display: block;
}

/*---HEADER---*/
.logo {
		float: left;
		margin-top: 49px;
		margin-left: 27px;
}

.contacts {
		width: 20%;
		float: right;
		margin-top: 45px;
		margin-bottom: 29px;
}

.contacts li {
		padding-left: 42px;
		color: #099;
		font-size: 12px;
		line-height: 19px;
		text-align: left;
}

.contacts li:first-child {
		font-weight: bold;
}

.countris {
		width: 50%;
		float: right;
		margin-right: 27px;
}

.countris li a {
		display: block;
		color: #099;
		font-size: 10px;
		line-height: 10px;
}

.countris li {
		position: relative;
		float: right;
		width: 57px;
		text-align: center;
}

.beach {
		display: block;
		width: 100%;
}

/*---MENU---*/
.menu {
		padding-left: 31px;
		border-bottom: 1px solid #000;
		background: #333;
		-moz-box-shadow: 0 3px 3px #575555;
		-webkit-box-shadow: 0 3px 3px #575555;
		box-shadow: 0 3px 3px #575555;
}

.menu li a {
		padding-left: 10px;
		color: #fff;
		font-size: 14px;
		text-decoration: none;
}

.menu > li {
		position: relative;
		height: 20px;
		float: left;
		margin-left: 5px;
		padding: 4px 20px 4px 22px;
		cursor: pointer;
		z-index: 1;
}

.trigon::after {
		content: '\25BC';
		padding-left: 5px;
		color: #fff;
		font-size: 8px;
}

.submenu {
		display: none;
		position: absolute;
		width: 100%;
		top: 100%;
		right: auto;
		left: auto;
		-moz-box-shadow: 0 4px 10px 1px #575555;
		-webkit-box-shadow: 0 4px 10px 1px #575555;
		box-shadow: 0 4px 10px 1px #575555;
}

.submenu ul {
		display: none;
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		margin: 0;
		border: 1px solid transparent;
}

.submenu > li {
		display: block;
		line-height: 24px;
}

.submenu li a {
		display: block;
		width: 100%;
		padding-left: 10px;
		background-color: #333;
		color: #fff;
		text-decoration: none;
}

.menu > li:hover .submenu {
		display: block;
}

/*--- CONTENT---*/
.content {
		width: 100%;
		overflow: hidden;
		padding-top: 5px;
		-moz-box-shadow: 0 0 3px #031d28;
		-webkit-box-shadow: 0 0 3px #031d28;
		box-shadow: 0 0 3px #031d28;
		z-index: 2;
}

h1 {
		color: #333;
		font-size: 20px;
		text-align: center;
}

.content p {
		padding-bottom: 8px;
		color: #333;
		font-size: 14px;
		line-height: 24px;
		text-align: center;
}

.info {
		float: left;
		width: 21%;
		padding-top: 10px;
		margin-bottom: -20000px;
		padding-bottom: 20000px;
		border-right: 1px solid #ccc;
		background: #edeef0;
}

.center {
		float: left;
		width: 58%;
		margin-bottom: -20000px;
		padding-bottom: 20000px;
}

.news {
		float: right;
		width: 19%;
		padding: 10px;
		margin-bottom: -20000px;
		padding-bottom: 20000px;
		border-left: 1px solid #ccc;
		background: #edeef0;

}

/*---FOOTER---*/
.footer p {
		padding: 10px 0;
		background: #0c739f;
		color: #fff;
		font-size: 12px;
		text-align: center;

}
